.menu{
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 20px;
    z-index: 999;
    background-color: #4d4d4d;
    box-shadow: 0px 3px 20px #0000007c;
    background-image: url(../public/Fundo.jpg);
}

.s1{
    background-image: url(../public/Fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #000000;
    height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 3px 20px #0000007c;
}

.imgPerfil{
    width: 400px;
    height: 400px;
    transition: all 200ms ease-in-out;
}

.imgPerfil:hover{
    transform: scale(1.1)
}

.right{
    background-color: rgba(255, 255, 255, 0.771);
    width: 500px;
}

.title{
    font-size: 36px;
    font-weight: Bold;
}

.paragraph{
    font-size: 22px;
}

.rodape{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-top: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 3px 20px #0000007c;
}

.rodape a{
    transition: all 500ms ease-in-out;
    border-radius: 999px;
    overflow: hidden;
}

.rodape a:hover{
    transform: translateY(-15) scale(1.3);
}

.s2{
    background-image: url(./public/Fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.s4{
    background-image: url(./public/Fundo.jpg);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    height: auto;
    padding: 50px;
    gap: 50px;
}

.s4 h2{
    color: #ffffff;
    font-size: 56px;
    letter-spacing: 10px;
    font-weight: bold;
}

.formData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 20px;
    border: 2px solid #000000;
    box-shadow: 0px 3px 20px #000000;
    padding: 20px;
}

.formData label{
    text-align: left;
    width: 100%;
    margin-bottom: -9px;
}

.formData input{
    padding: 10PX;
    width: 100%;
    border-radius: 5px;
}
.formData textarea {
    width: 300px;
    height: 70px;
    border: none;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
}

.formData button{
    padding: 10px;
    border: none;
    border: 2px solid #000000;
    border-radius: 5px;
    width: 100%;
    opacity: 0.7;
}

.formData button:hover{
    cursor: pointer;
    opacity: 1;
}

.s5{
    background-image: url(./public/Fundo.jpg);
    height: 100vh;
    padding-top: 80px;
    min-height: 100vh;
}

@media (width <= 768px){
    .s1{
        padding-top: 50px;
        gap: 0;
    }
    .left{
        width: 300px;
        height: 300px;
    }
    .imgPerfil{
        width: 300px;
        height: 300px;
    }
    .right{
        padding: 20px;
        margin-top: -150px;
    }
    .s4 h2{
        font-size: 48px;
        letter-spacing: 5px;
    }
}
