.menu{
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 20px;
    z-index: 999;
    background-color: #4d4d4d;
    box-shadow: 0px 3px 20px #0000007c;
}

.s1{
    background-image: url(../public/Fundo.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #4b4b4b;
    height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 3px 20px #0000007c;
}

.imgPerfil{
    width: 400px;
    height: 400px;
    transition: all 200ms ease-in-out;
}

.imgPerfil:hover{
    transform: scale(1.1)
}

.right{
    background-color: rgba(165, 165, 165, 0.368);
    width: 500px;
}

.title{
    font-size: 36px;
    font-weight: Bold;
}

.paragraph{
    font-size: 22px;
}

.rodape{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b;
    border-top: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 3px 20px #0000007c;
}

.rodape a{
    transition: all 500ms ease-in-out;
    border-radius: 999px;
    overflow: hidden;
}

.rodape a:hover{
    transform: translateY(-15) scale(1.3);
}

.s2{
    background-image: url(./public/FUNDOH2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (width <= 768px){
    .s1{
        padding-top: 50px;
        gap: 0;
    }
    .left{
        width: 300px;
        height: 300px;
    }
    .imgPerfil{
        width: 300px;
        height: 300px;
    }
    .right{
        padding: 20px;
        margin-top: -150px;
    }
}
